<!-- <div id="beerInfo">
	<p><span>Name:</span> {{beer.Name}}</p>
	<p><span>Brewery:</span> {{atwater[2].Brewery}}</p>
	<p><span>Type:</span> {{atwater[2].Type}}</p>
	<p><span>Description:</span> {{atwater[2].Description}}</p>
	<p><span>Glass:</span> {{atwater[2].Glass}}</p>
	<p><span>Temperature:</span> {{atwater[2].Temperature}}</p>
	<p><span>Try this recipe with your beer:</span>
	<h3>{{randomRecipe}}</h3>
	<p>Don't like what you see? Refresh the page for a new recipe.</p>
</div>

<br />
<br />
<br />